[Desktop Entry]
Type=Application
Name=Package Manager
GenericName=Flatpak & Snap Package Manager
Comment=Manage Flatpak and Snap packages with a modern PyQt6 interface
Exec=pkg-manager
Icon=pkg-manager
Terminal=false
Categories=Utility;PackageManager;Qt;
Keywords=flatpak;snap;package;manager;
StartupWMClass=io.github.sametkarakus68.PackageManager
