[Desktop Entry]
Name=Package Manager
Comment=Manage Flatpak and Snap packages with a modern PyQt6 interface
Exec=pkg-manager
Icon=io.github.sametkarakus68.PackageManager
Terminal=false
Type=Application
Categories=Utility;System;Settings;
Keywords=flatpak;snap;package;manager;install;uninstall;
StartupWMClass=io.github.sametkarakus68.PackageManager
